/* Typography Styles */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
* {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.6;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  font-size: 2.5rem;
  font-weight: 800;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  line-height: 1rem;
}

a:hover {
  opacity: 70%;
}
/* homepage */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, sans-serif; */
}

body {
  width: 100vw;
  background-color: #e8edf1;
}

.main-container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-image: url('../img/lonehiker.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 0 3rem; */
}

.content-section {
  width: 90%;
  margin: 12rem 0rem;
}

.header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 0;
}

.subtitle {
  margin-top: 0;
}

.divider {
  width: 100%;
  height: 0.2rem;
  background-color: black;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 10rem;

  /* width: auto;
  height: auto; */
  backdrop-filter: blur(2rem);
  background-color: rgba(255, 255, 255, 0.157);
  border: 0.2rem solid black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1rem 1rem;
}

.stat-number {
  /* font-weight: bold; */
  margin-bottom: 1rem;
}

.stat-label {
}

.donation-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donation-text {
  margin-bottom: 2rem;
}

.thebutton {
  display: flex;
  width: fit-content;
  align-items: center;
  background-color: #bf2d37;
  color: #fff;
  padding: 0.5rem 1.875rem;
  border-radius: 1.875rem;
  text-decoration: none;
  /* font-size: 1.2rem; */
  box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.1);
  /* cursor: pointer;
  border: none; */
}

.thebutton:hover {
  background-color: #a8252e;
}

/* Hero Sections */

.avalanche-hero {
  width: 100%;
  height: 40rem;
  background-image: url('../img/mountains.jpg');
  background-size: cover;
  /* background-position: center; */
  position: relative;
  display: flex;
  align-items: center;
}
.avalanche-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(232, 237, 241, 0.4);
}
.forecast-hero {
  width: 100%;
  height: 40rem;
  background-image: url('../img/skiiers.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}
.forecast-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(232, 237, 241, 0.353);
}

.donate-hero {
  width: 100%;
  height: 40rem;
  color: white;
  background-image: url('../img/donate-bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}

/* .donate-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(232, 237, 241, 0.4);
} */
.aboutus-hero {
  width: 100%;
  height: 40rem;
  background-image: url('../img/aboutus.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}
/* .aboutus-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(232, 237, 241, 0.4);
} */
.hypothermia-hero {
  width: 100%;
  height: 565px;
  background-image: url('../img/snowmountains.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}
.hypothermia-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(232, 237, 241, 0.4);
}

/* hero section sub sections */

.hero-content {
  width: 100%;
  margin: 0 auto;
  padding: 0 10rem;
  position: relative;
  z-index: 1;
}

.hero-title {
  /* font-size: 96px; */
  font-weight: bold;
  margin-bottom: 0;
}

.hero-subtitle {
  /* font-size: 40px; */
  margin-top: 0;
}

.donate-divider {
  width: 100%;
  height: 0.2rem;
  background-color: #ffffff;
}

/* end of hero sections */

/* Navigation Bar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  background-color: #bf2d37;
  box-shadow: 0 0.2rem 1rem rgba(77, 77, 79, 0.1);
  /* backdrop-filter: blur(50px); */
  z-index: 1000;
  /* display: flex;
  flex-direction: column; */
}

.nav-content {
  max-width: auto;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  gap: 1rem;
}

.nav-logo {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  /* font-size: 16; */
  transition: opacity 0.2s;
}

.nav-link:hover {
  opacity: 0.9;
}

.nav-dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dropdown-icon {
  color: white;
  font-size: 12px;
}

/* Adjust main content to account for fixed navbar */
main {
  width: 100%;
}

/* Snow Report Styles */
.snow-report {
  width: 100%;

  padding: 5rem;

  background-image: url('../img/snow-bg.jpg');

  background-size: fill;
  background-repeat: no-repeat;
  background-position: 0rem -30rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snow-report-content {
  /* background-color: #a8252e; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  /* position: relative;
  z-index: 1; */
}

.snow-report-title {
  /* font-weight: bold; */
  color: #000;
  text-align: center;
}

.snow-stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.snow-timeframes {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0rem 1rem;
}

.timeframe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}

.timeframe-label {
  color: #000;
}

.timeframe-value {
  /* font-weight: bold; */
  color: #000;
}

.snow-stats .divider {
  width: 100%;
  height: 0.2rem;
  background-color: #000;
}

.season-total {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.total-label {
  color: #000;
}

.total-value {
  /* font-weight: bold; */
  color: #000;
}

/* .forecast-button {
  background-color: #bf2d37;
  color: white;
  border: 1px solid #bf2d37;
  border-radius: 30px;
  padding: 3px 30px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.forecast-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
} */

/* News Section Styles */
.info-section {
  width: 100%;
  height: auto;
  /* min-height: 20rem; */
  background-color: #e8edf1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.info-container {
  /* width: 1145px; */
  width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.info-content {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.info-label {
  color: #000;
}

.info-article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info-title {
  color: #000;
  /* line-height: 1.2; */
}

.info-text {
  /* font-size: 18px; */
  color: #000;
  line-height: 1.8rem;
}

.info-image {
  height: fit-content;
  width: 90%;
  overflow: hidden;
}

.info-image img {
  object-position: -22rem 3rem;
  /* width: 100%; */
  height: fit-content;
  object-fit: cover;
}

/* Crew Section Styles */
.crew-section {
  width: 100%;
  height: 60rem;
  background-image: url('../img/s&r meeththecrew.webp');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  /* filter: contrast(0.83) saturate(0.83); */
}

/* .crew-section::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(166, 178, 180, 0.4);
} */
.crew-content {
  width: 100%;

  background-color: rgba(117, 117, 117, 0.2);
  backdrop-filter: blur(50px);
  box-shadow: 0 1px 10px rgba(77, 77, 79, 0.1);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 5rem;
}

.crew-content {
  width: 100%;

  background-color: rgba(117, 117, 117, 0.2);
  backdrop-filter: blur(50px);
  box-shadow: 0 1px 10px rgba(77, 77, 79, 0.1);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 5rem;
}

.crew-info {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
  margin-left: 0rem;
}

.crew-title {
  font-size: 48px;
  font-weight: bold;
  color: white;
  line-height: 1.2;
  margin: 0;
}

.crew-text {
  font-size: 18px;
  color: white;
  line-height: 1.6;
  margin: 0;
}

.crew-info .divider {
  width: 100%;
  height: 0.2rem;
  background-color: white;
  margin: 0;
}

*/ .logo-container img {
  max-width: 100%;
  max-height: 100%;
  filter: brightness(0) invert(1);
}

/* Card Section Styles */
.card-section {
  width: 100%;
  min-height: auto;
  background-color: #e8edf1;
  padding: 5rem;
}

.card-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  display: flex;
  flex-direction: column;
}

.card-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-image {
  width: 90%;

  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.card-label {
  color: #000;
  text-align: right;
}

.card-title {
  color: #000;
}

.card-text {
  /*  
  color: #000;
  line-height: 1.6;
  margin: 0; */
}

/* Footer Styles */
.footer {
  width: 100%;
  min-height: auto;
  background-color: #a6b2b4;
  padding: 3rem;
}

.footer-content {
  width: auto;
  margin: 0 auto;
  display: flex;
  gap: 5rem;
  flex-direction: column;
}

.newsletter {
  width: 100%;
}

.newsletter-text {
  /* font-size: 24px; */
  margin-bottom: 1rem;
}

.newsletter-form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.email-input {
  /* flex: 0.5; */
  width: 50%;
  height: 2.5rem;
  padding: 0 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: white;
}

.privacy-text {
  /* font-size: 18px; */
  color: #666;
}

.footer-links {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.nav-column,
.social-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-heading {
  /* font-size: 30px; */
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  margin-bottom: 1rem;
}

.footer-nav a {
  color: black;
  text-decoration: none;
  /* font-size: 18px; */
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  margin-bottom: 1rem;
}

.social-links a {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: black;
  text-decoration: none;
  /* font-size: 18px; */
}

.social-links img {
  width: 1.5rem;
  height: 1.5rem;
}

.footer-credits {
  width: auto;
  margin: 1rem auto 0;
}

.footer-credits .divider {
  width: auto;
  height: 0.03rem;
  background-color: rgb(114, 114, 114);
  margin-bottom: 2rem;
}

.credits-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  /* font-size: 18px; */
}

.legal-links {
  display: flex;
  gap: 3rem;
}

.legal-links a {
  color: black;
  text-decoration: none;
  /* font-size: 18px; */
}

/* Weather Forecast Styles */
.weather-forecast {
  background-color: #e8edf1;
  padding: 2rem 0;
  display: flex;
  width: 100vw;
}

.forecast-container {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.today-forecast {
  background-color: #a6b2b4;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
  width: 100%;
}

.forecast-header {
  background-color: #bf2d37;
  padding: 1.5rem;
  border-radius: 5px 5px 0 0;
}

.forecast-header h2 {
  color: #e8edf1;
  margin: 0;
  /* font-size: 24px; */
}

.forecast-content {
  padding: 2rem;
}

.current-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  flex-direction: column;
}

.temperature {
  /* font-size: 75px; */
  margin-right: 1rem;
}

.weather-icon {
  /* font-size: 75px; */
  margin-right: 1rem;
}

.weather-desc {
  /* font-size: 24px; */
}

.weather-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  gap: 1.5rem;
  flex-direction: column;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-label {
  /* font-size: 24px; */
  margin-bottom: 0rem;
}

.detail-value {
  /* font-size: 45px; */
}

.weather-info {
  display: flex;

  justify-content: space-between;
  /* font-size: 24px; */
  flex-direction: column;
  gap: 1.5rem;
}

.five-day-forecast {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  overflow: hidden;
}

.forecast-day {
  background-color: #a6b2b4;
  border-bottom: 1px solid #cbcbd35c;
  display: flex;
  align-items: center;
  /* padding-top: 1rem; */
  padding-right: 1rem;
  /* padding-bottom: 1rem; */
}

.date {
  background-color: #bf2d37;
  /* border: 1px solid #cbcbd3; */
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}

.month {
  color: #e8edf1;
  /* font-size: 24px; */
}

.day {
  color: #e8edf1;
  /* font-size: 38px; */
}

.day-name {
  /* font-size: 24px; */
  margin-right: 1rem;
}

.day-forecast {
  display: flex;
  gap: 5rem;
  margin-left: auto;
}

.temp-high,
.temp-low {
  font-size: 24px;
}

/* Mission Statement Styles */
.mission-statement {
  background-color: #e8edf1;
  padding: 40px 0;
}

.mission-container {
  max-width: 816px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mission-title {
  font-size: 58px;
  text-align: center;
  margin: 0;
}

.mission-text {
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}

/* Team Cards Section */
.team-cards {
  width: 100%;
  min-height: auto;
  background-color: #e8edf1;
  padding: 4rem 0;
}

.team-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.team-header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.team-title {
  /* font-size: 58px; */
  font-weight: bold;
  color: #000;
  margin: 0;
}

.team-subtitle {
  /* font-size: 24px; */
  color: #000;
  margin: 0;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
}

.team-card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.team-card .card-image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.team-card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-card .card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.member-name {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.member-title {
  /* font-size: 2rem; */
  color: #000;
  margin: 0;
}

.member-bio {
  /* font-size: 18px; */
  color: #000;
  margin: 0;
  line-height: 1.5;
}

/* Text Image Module */
.text-image-module {
  width: 100%;
  min-height: 974px;
  background-color: #e8edf1;
  padding: 112px 0;
}

.module-container {
  width: 1071px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.module-image {
  width: 500px;
  height: 750px;
  overflow: hidden;
}

.module-container .module-image img {
  height: auto;
  flex-shrink: 0;
}

.module-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.module-content {
  width: 531px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 92.5px;
}

.module-title {
  font-size: 45px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.module-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list-text {
  font-size: 18px;
  color: #000;
  line-height: 1.6;
  margin: 0;
}

/* Text Frame Module */
.text-frame-module {
  width: 100%;
  height: 836px;
  position: relative;
  background-color: #fff;
}

.text-frame-module .module-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.text-frame-module .module-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-frame-module .overlay-box {
  position: absolute;
  left: 32px;
  top: 438px;
  width: 910px;
  height: 338px;
  background-color: rgba(117, 117, 117, 0.2);
  backdrop-filter: blur(50px);
  border-radius: 20px;
  box-shadow: 0 1px 10px rgba(77, 77, 79, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-frame-module .overlay-content {
  width: 668px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.text-frame-module .overlay-title {
  font-size: 48px;
  color: #fff;
  margin: 0;
  font-weight: bold;
}

.text-frame-module .overlay-text {
  font-size: 18px;
  color: #fff;
  line-height: 1.6;
  margin: 0;
}

/* Donation Form Styles */
.donation-form {
  width: 100vw;
  height: fit-content;
  position: relative;
  background-image: url('../img/heliform.jpg');
  background-size: cover;
  background-position: center;
}

.form-container {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
}

.form-content {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  background-color: #e8edf1;
  border-radius: 0rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.form-content {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  background-color: #e8edf1;
  border-radius: 1rem;
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
}

.form-title {
  /* font-size: 72px; */
  margin-bottom: 3rem;
}

.donation-form-fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group label {
  /* font-size: 24px; */
  padding-top: 2rem;
  color: #000;
}

.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='tel'] {
  height: 3rem;
  padding: 1rem;
  border: 0.1rem solid #000;
  border-radius: 0.5rem;
  background-color: #fff;
  /* font-size: 18px; */
}

.amount-input {
  position: relative;
  display: flex;
  align-items: center;
}

.currency {
  position: absolute;
  padding-left: 0.5rem;
  color: #555;
}

.amount-input input {
  /* padding-left: 20rem; */
}

.checkbox {
  flex-direction: row;
  align-items: center;
  display: inline-block;
  gap: 1rem;
}

.checkbox input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
  /* padding-top: 4rem; */
  border: 0.5rem solid #000;
  border-radius: 0.5rem;
}

.name-fields,
.location-fields {
  flex-direction: column;
  gap: 1rem;
}

.name-input,
.location-input {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.payment-section {
  margin-top: 3rem;
}

.card-details {
  display: flex;
  gap: 1.5rem;
}

.card-details .form-group {
  flex: 1;
}

/* media */

@media (min-width: 992px) {
  /* -------------------------------homepage */
  /* nav */
  .nav-content {
    max-width: auto;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    gap: 0rem;
  }

  /* hero */
  .stats-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
  }
  .stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 10rem;
  }

  .content-section {
    width: 50%;
    margin: 12rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }

  .header {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* snow report */
  .snow-stats {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .snow-timeframes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0rem 1rem;
  }

  .snow-timeframes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0rem 1rem;
  }

  .timeframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0rem;
  }
  /* info */

  .info-container {
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8rem;
  }

  .info-content {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
  }

  .info-image {
    height: fit-content;
    width: 40%;
    overflow: hidden;
  }
  .info-image img {
    object-position: -10rem 3rem;

    height: fit-content;
    object-fit: cover;
  }

  /* crew section */
  .crew-section {
    width: 100%;
    height: 60rem;
    background-image: url('../img/s&r meeththecrew.webp');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    /* filter: contrast(0.83) saturate(0.83); */
  }

  /* .crew-section::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(166, 178, 180, 0.4);
  } */
  .crew-content {
    /* width: 50%;
  
    background-color: rgba(117, 117, 117, 0.2);
    backdrop-filter: blur(50px);
    box-shadow: 0 1px 10px rgba(77, 77, 79, 0.1);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 5rem; */
    display: none;
  }

  .crew-section:hover {
    .crew-content {
      width: 50%;

      background-color: rgba(117, 117, 117, 0.2);
      backdrop-filter: blur(50px);
      box-shadow: 0 1px 10px rgba(77, 77, 79, 0.1);
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 5rem;
    }

    .crew-info {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      /* justify-content: flex-end; */
      gap: 2rem;
      /* margin-left: 17.5rem; */
    }

    .crew-title {
      font-size: 48px;
      font-weight: bold;
      color: white;
      line-height: 1.2;
      margin: 0;
    }

    .crew-text {
      font-size: 18px;
      color: white;
      line-height: 1.6;
      margin: 0;
    }

    .crew-info .divider {
      width: 100%;
      height: 0.2rem;
      background-color: white;
      margin: 0;
    }
  }

  /* footer */
  .footer {
    width: 100%;
    min-height: auto;
    background-color: #a6b2b4;
    padding: 5rem;
  }

  .footer-content {
    width: auto;
    margin: 0 auto;
    display: flex;
    gap: 5rem;
    flex-direction: row;
  }

  .newsletter {
    width: 40%;
  }

  /* -------------------------------------Forecast */
  .weather-info {
    display: flex;
    justify-content: space-between;

    flex-direction: row;
    gap: 0rem;
  }
  .form-container {
    width: 40%;
    height: fit-content;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
  }

  .current-weather {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    flex-direction: row;
  }

  .weather-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    gap: 0rem;
    flex-direction: row;
  }

  .forecast-container {
    width: 45%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .today-forecast {
    background-color: #a6b2b4;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
    width: 100%;
  }

  /* Avalanche Safety */
  .card-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    display: flex;
    flex-direction: row;
  }
  /* hypothermia */

  /* About Us */
  .team-grid {
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  .team-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  /* Donate */

  .name-fields,
  .location-fields {
    flex-direction: row;
    gap: 1rem;
  }
}

@media (min-width: 1200px) {
  /* hompage */

  /* Forecast */

  /* Avalanche Safety */

  /* hypothermia */

  /* About Us */

  /* Donate */
}

@media (min-width: 1400px) {
  /* hompage */

  /* Forecast */

  /* Avalanche Safety */

  /* hypothermia */

  /* About Us */

  /* Donate */
}
